*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* Header  */
#navbar{
    height: 60px;
    background-color:#0F1111;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* Amazon Logo on header  */
#nav-box1-amazonlogo{
    height: 55px;
}
#nav-box1-amazonlogo:hover,#nav-box2:hover,#signin:hover{
    border: 1px solid white;
    cursor:pointer;
}

/* hello select addderess */
#nav-box2{
    color: white;
    padding: 9px;
    font-size: 1rem;
}
#nav-box2-line1{
    font-size: 0.9rem;
    color: #CCCCCC;
    margin-left: 30px;
}

/* searchbar */
#nav-box3{
    height: 38px;
    display: flex;
    padding: 0%;
}
#nav-box3:hover{
    border-radius:7px;
    border: 2px solid orange;
}
#nav-dropdown{
    width: 45px;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
    background-color: rgba(255, 255, 255, 0.847);
    border: 0.5px;
    font-size: 1rem;
    text-align: center;
}
#nav-dropdown:hover{
    background-color: rgba(255, 255, 255, 0.642);
    cursor:pointer;
}
#nav-searchbar{
    border: 0.5px;
    width: 400px;
    font-size: 1rem;
}
#nav-searchbtn{
    width: 40px;
    border: 0px;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px;
    background-color: rgb(255, 181, 42);
    font-size: 1.2rem;
}
#nav-searchbtn:hover{
    cursor: pointer;
    background-color: orange;
}


/* signin  */
#nav-box4{
    color: white;
    width: 130px;
    padding: 9px;
}
.nav-box4_5-line1{
    font-size: 0.7rem;
}
.nav-box4_5-line2{
    font-size: 1rem;
    font-weight: 800;
}
 
/* return & orders */
#nav-box5{
    color: white;
    padding: 9px;
}
#nav-box4:hover,#cart:hover,#nav-box5:hover{
    border: 1px solid white;
    cursor:pointer;
}
/* cart  */
#nav-box6{
    color: white;
    width: 80px;
    font-size: 17px;
    font-weight: 600;
    padding: 9px;
}
#nav-box6 i{
    font-size: 30px;
}
#nav-box6:hover{
    border: 2px solid white;
}


#navbar2{
    height: 40px;
    background-color: #37475A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
#navbar2-menu-box1{
    color: white;
    margin-left: 20px;
    
}
#navbar2-box2{
    color: white;
    list-style-type: none;
    display: flex;
    width: 90%;
}
.navbar2-box2-items{
    margin-left: 25px;
}
/* -------------------------------------------------------------------------------------------------------------------------- */

/* main  */
#heroblock{
    background-image: url(/heroimage.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#heroblock-block1{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 80%;
}
#heroblock-block1 a{
    color: #007185;
}
/* content box shopping */
#shoping-content{
    display: flex;
    margin-top: 20px;
    align-content: space-between;
    background-color: pink;
}
.content-box{
    height: 350px;
    width: 360px;
    padding: 1rem;
    margin: 1rem;
    font-size: 0.9rem;
    background-color: white;
}
.content-image{
    cursor: pointer;
}
.content-image{
    height: 267px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
}
.content-line3{
    padding-top: 1rem;
    color: #007185;
}
.content-line3:hover{
    color: rgb(204, 63, 63);
    cursor: pointer;
}
/* Footer  */
#footer1{
    height: 3rem;
    background-color: #37475A;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
}
#footer1:hover{
    color: rgb(204, 63, 63);
}
#footer2{
    height: 300px;
    background-color:#232F3E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.3rem;
}
.headling_line{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}
.contact_option{
    padding: 0;
    font-size: 13px;
    list-style-type: none;
    color: white;
    line-height: 25px;
}
#footer3{
    border-top: 1px solid grey;
    height: 100px;
    background-color:#232F3E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#footerlogo{
    margin-top: 10px;
    height: 80px;
    border-radius:8px;
}
#footer4{
    height: 400px;
    background-color: #131A22;
}
#otherfooterlink{
    color: white;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 13px;
    padding-bottom: 2rem;
}
#footer4_sub{
    color: white;
    font-size: 13px;
    display: flex;
    list-style-type: none;
    padding-left: 10.2rem;
    padding-right: 2rem;
    justify-content: space-between;
}
#footlist{
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
#footer_item1,#footer_item2{
    margin-right: 25px;
}
#copyright_icon{
    color: white;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
/* ------------------------------------------------------------------------------------------------------------------- */
